html {
    overflow: hidden;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.game-title {
    color: white;
    text-align: center;
    position: relative;
    top: -2vh;
}

#canvas {
    height: 350px;
    width: 350px;
    display: grid;
    position: relative;
    margin: auto;
    top: -3vh;
    padding: 0 0 30vh 0;
}

.color-select-title {
    text-align: center;
    color: white;
}

.color-select-div {
    position: relative;
    width: 250px;
    height: auto;
    bottom: 60vh;
}

#color-selector {
    position: relative;
    display: block;
    margin: auto;
    width: 100px;
}

.rangeContainer {
    width: 300px;
    height: auto;
    position: relative;
    margin: auto;
    top: -6vh;
}

.slider {
    appearance: none;
    background-color: gray;
    border-radius: 5px;
    height: 10px;
    width: 300px;
}

#myRange {
    position: relative;
    margin: auto;
}


.slider::-moz-range-thumb {
    background-color: rgb(98, 167, 207);
}

.size-input-div {
    width: 200px;
    height: 30px;
    display: flex;
    margin: auto;
    position: relative;
    bottom: 4vh;
}

#size-input {
    margin: auto;
    display: block;
    position: relative;
}