/* html {
    overflow: hidden;
} */

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.game-title {
    color: white;
    text-align: center;
    position: relative;
    top: -2vh;
}

.all-UI {
    display: flex;
    margin: auto;
    position: relative;
    justify-content: center;
    height: 350px;
    width: 650px;
}

.tool-panel {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 225px;
    background-color: rgb(166, 186, 194);
}

#canvas {
    height: 350px;
    width: 350px;
    display: grid;
    position: relative;
    margin-left: 30px;
    padding: 0 0 30vh 0;
}

.color-select-title {
    display: block;
    position: relative;
    text-align: center;
    height: 40px;
    color: white;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.color-select-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 40px;

}

.color-drop-div {
    display: block;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    background-color: rgb(58, 68, 95);
}

#color-selector {
    position: relative;
    display: block;
    width: 100px;
}

.range-container {
    width: 200px;
    height: auto;
    position: relative;
    margin: auto;
}

.slider {
    appearance: none;
    background-color: gray;
    border-radius: 5px;
    height: 10px;
    width: 200px;
}

#myRange {
    position: relative;
    margin: auto;
}


.slider::-moz-range-thumb {
    background-color: rgb(98, 167, 207);
}

.size-input-div {
    width: 200px;
    height: 30px;
    display: flex;
    margin: auto;
    position: relative;
    bottom: 4vh;
}

#size-input {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}